# Formspree Endpoint (Public endpoint, but can be externalized to environment variables if desired)
VITE_FORMSPREE_ENDPOINT=https://formspree.io/f/mqeoqyqy

# If you want to use EmailJS or other future services, define them here:
# VITE_EMAILJS_SERVICE_ID=your_service_id
# VITE_EMAILJS_TEMPLATE_ID=your_template_id
# VITE_EMAILJS_PUBLIC_KEY=your_public_key
